
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
.settings

.classpath

bin

coverage

coverage.ec

coverage.em

gen

javadoc

junit-report.xml

lint-results.*ml

lint-results_files

local.properties

monkey.txt

*~

*.iws

atlassian-ide-plugin.xml

target

build

.gradle

out

build.xml

proguard-project.txt

.idea/

*.iml

